<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default2}">
<th:block layout:fragment="customCss">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- 승패마진 board icon CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" th:href="@{/css/games.css}">
</th:block>

<th:block layout:fragment="customContents">

    <h3 class="mb-2 text-gray-800 bold">경기 관리</h3>

    <!-- 통계 카드 -->
    <div class="row">
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card card-left-border border-left-primary h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="h6 font-weight-bold text-primary text-uppercase mb-1">경기 수</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${matchCount}"></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar-check fa-2x custom-icon1"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card card-left-border border-left-success h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="h6 font-weight-bold text-success text-uppercase mb-1">승패 마진</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${winLossMargin}"></div>
              </div>
              <div class="col-auto">
                <i class="fa-solid fa-chart-line fa-2x custom-icon2"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card card-left-border border-left-info h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="h6 font-weight-bold text-info text-uppercase mb-1">팀 득점</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${teamScore}"></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-futbol fa-2x custom-icon3"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card card-left-border border-left-warning h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="h6 font-weight-bold text-warning text-uppercase mb-1">팀 실점</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${teamConcede}"></div>
              </div>
              <div class="col-auto">
                <i class="fa-solid fa-circle-exclamation fa-2x custom-icon4"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 최근 경기 -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">최근 경기</h6>
      </div>
      <div class="card-body" id="recent-game">
        <div th:if="${mostRecentGame != null}" class="text-center">
          <!-- 경기 날짜 -->
          <div class="mb-3">
            <h5 th:text="${#temporals.format(mostRecentGame.gameDate, 'yyyy-MM-dd')}"></h5>
          </div>

          <!-- 팀 정보 -->
          <div class="row align-items-center mb-3">
            <div class="col-4">
              <div class="team-logo-container">
                <img th:src="@{'/img/team/강원FC.png'}" alt="강원 FC 로고" class="team-logo">
              </div>
              <br>
              <h2 class="text">강원 FC</h2>
            </div>
            <div class="col-4">
              <img th:src="@{'/img/team/versus.png'}" alt="versus" class="versus-logo">
            </div>
            <div class="col-4">
              <div class="team-logo-container">
                <img th:src="@{'/img/team/' + ${@gameService.getTeamImageFileName(mostRecentGame.opponent)}}"
                     th:alt="${mostRecentGame.opponent} + ' 로고'"
                     class="team-logo">
              </div>
              <br>
              <h2 th:text="${mostRecentGame.opponent}" class="text"></h2>
            </div>
          </div>

          <!-- 점수 -->
          <div>
            <h2>
              <span th:text="${mostRecentGame.goal}"></span>
              :
              <span th:text="${mostRecentGame.concede}"></span>
            </h2>
          </div>

          <!-- 경기장 정보 -->
          <div class="mt-3">
            <p th:text="${mostRecentGame.stadium}"></p>
          </div>
        </div>
        <div th:unless="${mostRecentGame != null}" class="text-center">
          <p>최근 경기 정보가 없습니다.</p>
        </div>
      </div>
    </div>

    <!-- 경기 목록 -->
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">경기 목록</h6>
        <div>
          <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addGameModal">
            <i class="fas fa-plus fa-sm text-white-50"></i> 경기 추가
          </button>
          <button class="btn btn-danger btn-sm" id="deleteSelectedBtn">
            <i class="fas fa-trash fa-sm text-white-50"></i> 선택 삭제
          </button>
        </div>
      </div>
      <div class="card-body">
        <!-- 라디오 버튼 필터 -->
        <div class="mb-3">
            <div class="btn-group" role="group" aria-label="Game Type Filter">
              <th:block th:each="type, iterStat : ${gameType}">
                <input type="radio" class="btn-check" name="gameTypeFilter"
                       th:id="${'gameType' + iterStat.index}"
                       th:value="${type}"
                       autocomplete="off"
                       th:checked="${iterStat.first}">
                <label class="btn btn-outline-primary"
                       th:for="${'gameType' + iterStat.index}"
                       th:text="${type}"></label>
              </th:block>
            </div>
        </div>
        <!-- 게임 목록 테이블 -->
        <div>
          <div id="gameList" class="table-responsive">
            <table class="table">
              <thead>
              <tr style="background-color: #f0f0f0">
                <th><input type="checkbox" id="selectAll"></th>
                <th>대회 유형</th>
                <th>득점</th>
                <th>실점</th>
                <th>상대팀</th>
                <th>경기장</th>
                <th>경기 일자</th>
                <th>결과</th>
              </tr>
              </thead>
              <tbody id="gameTableBody">
              <tr th:each="match : ${matches}">
                <td><input type="checkbox" name="selectedMatches" th:value="${match.gameIdx}"></td>
                <td th:text="${match.gameType}"></td>
                <td th:text="${match.gameDate.isAfter(#temporals.createToday()) ? '-' : match.goal}"></td>
                <td th:text="${match.gameDate.isAfter(#temporals.createToday()) ? '-' : match.concede}"></td>
                <td th:text="${match.opponent}"></td>
                <td th:text="${match.stadium}"></td>
                <td th:text="${#temporals.format(match.gameDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${match.gameDate.isAfter(#temporals.createToday()) ? '경기 예정' :
                (match.goal > match.concede ? '승' : (match.goal < match.concede ? '패' : '무'))}"></td>
              </tr>
              </tbody>
            </table>
          </div>

          <!-- 페이지네이션 -->
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center" id="pagination">
              <!-- JavaScript로 동적으로 페이지 링크가 추가됩니다 -->
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!-- 경기 추가 모달 -->
    <div class="modal fade" id="addGameModal" tabindex="-1" aria-labelledby="addGameModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addGameModalLabel">경기 추가</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="addGameForm">
                <div class="row mb-3">
                  <div class="col">
                    <label>대회유형</label>
                    <div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gameType" id="typeLeague" value="리그" checked>
                        <label class="form-check-label" for="typeLeague">리그</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gameType" id="typeTournament" value="토너먼트">
                        <label class="form-check-label" for="typeTournament">토너먼트</label>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label for="gameDate" class="form-label">경기 일자</label>
                    <input type="date" class="form-control" id="gameDate" required autocomplete="off">
                  </div>
                </div>

                <!-- game_name 필드 -->
                <div class="mb-3">
                  <label for="game_name" class="form-label">경기명</label>
                  <input type="text" class="form-control" id="game_name" required autocomplete="off">
                </div>

                <div class="mb-3">
                  <label for="opponent" class="form-label">상대팀</label>
                  <select class="form-select" id="opponent" required>
                    <option value="">상대팀 선택</option>
                    <option value="울산HD">울산HD</option>
                    <option value="수원FC">수원FC</option>
                    <option value="김천상무FC">김천상무FC</option>
                    <option value="서울FC">서울FC</option>
                    <option value="포항 스틸러스">포항 스틸러스</option>
                    <option value="광주FC">광주FC</option>
                    <option value="제주 유나이티드FC">제주 유나이티드FC</option>
                    <option value="대전 하나시티즈">대전 하나시티즈</option>
                    <option value="인천 유나이티드FC">인천 유나이티드FC</option>
                    <option value="전북 현대">전북 현대</option>
                    <option value="대구FC">대구FC</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="stadium" class="form-label">경기장소</label>
                  <input type="text" class="form-control" id="stadium" required autocomplete="off">
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <label for="goal" class="form-label">득점</label>
                    <input type="number" class="form-control" id="goal" min="0" required>
                  </div>
                  <div class="col">
                    <label for="concede" class="form-label">실점</label>
                    <input type="number" class="form-control" id="concede" min="0" required>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
              <button type="button" class="btn btn-primary" id="saveGame">추가</button>
            </div>
          </div>
        </div>
    </div>

    <!-- 경기 수정 모달 -->
    <div class="modal fade" id="editGameModal" tabindex="-1" aria-labelledby="editGameModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editGameModalLabel">경기 정보 수정</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="editGameForm">
              <input type="hidden" id="editGameIdx">
              <div class="row mb-3">
                <div class="col">
                  <label>대회유형</label>
                  <div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="editGameType" id="editTypeLeague" value="리그" checked>
                      <label class="form-check-label" for="typeLeague">리그</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="editGameType" id="editTypeTournament" value="토너먼트">
                      <label class="form-check-label" for="typeTournament">토너먼트</label>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label for="editGameDate" class="form-label">경기 일자</label>
                  <input type="date" class="form-control" id="editGameDate" required autocomplete="off">
                </div>
              </div>

              <!-- 새로 추가된 game_name 입력 필드 -->
              <div class="mb-3">
                <label for="editGameName" class="form-label">경기명</label>
                <input type="text" class="form-control" id="editGameName" required>
              </div>

              <div class="mb-3">
                <label for="editOpponent" class="form-label">상대팀</label>
                <select class="form-select" id="editOpponent" required>
                  <option value="">상대팀 선택</option>
                  <option value="울산HD">울산HD</option>
                  <option value="수원FC">수원FC</option>
                  <option value="김천상무FC">김천상무FC</option>
                  <option value="서울FC">서울FC</option>
                  <option value="포항 스틸러스">포항 스틸러스</option>
                  <option value="광주FC">광주FC</option>
                  <option value="제주 유나이티드FC">제주 유나이티드FC</option>
                  <option value="대전 하나시티즈">대전 하나시티즈</option>
                  <option value="인천 유나이티드FC">인천 유나이티드FC</option>
                  <option value="전북 현대">전북 현대</option>
                  <option value="대구FC">대구FC</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="editStadium" class="form-label">경기장소</label>
                <input type="text" class="form-control" id="editStadium" required autocomplete="off">
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label for="editGoal" class="form-label">득점</label>
                  <input type="number" class="form-control" id="editGoal" min="0" required>
                </div>
                <div class="col">
                  <label for="editConcede" class="form-label">실점</label>
                  <input type="number" class="form-control" id="editConcede" min="0" required>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            <button type="button" class="btn btn-primary" id="editGame">저장</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 경기 삭제 모달 -->
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteConfirmModalLabel">삭제 확인</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            정말 선택한 경기를 삭제하시겠습니까?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            <button type="button" class="btn btn-danger" id="confirmDelete">삭제</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="customModal" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="customModalLabel">알림</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Modal message will be inserted here -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
          </div>
        </div>
      </div>
    </div>
</th:block>

<th:block layout:fragment="customJs">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  	<script th:src="@{/js/games.js}"></script>
</th:block>
</html>