<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
    <div class="form-container">
    	<!-- 제목 추가 -->
        <div class="title">FootMAN</div>
        <form th:action="@{/login}" method="post" class="form">
            <!-- 아이디 필드 -->
            <div class="flex-column">
                <label>아이디</label>
            </div>
            <div class="inputForm">
                <svg height="20" viewBox="0 0 32 32" width="20" xmlns="http://www.w3.org/2000/svg">
                    <g id="Layer_3" data-name="Layer 3">
                        <path d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"></path>
                    </g>
                </svg>
                <input type="text" class="input" placeholder="아이디 입력" id="username" name="username" />
            </div>

            <!-- 비밀번호 필드 -->
            <div class="flex-column">
                <label>비밀번호</label>
            </div>
            <div class="inputForm">
                <svg height="20" viewBox="-64 0 512 512" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"></path>
                    <path d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"></path>
                </svg>
                <input type="password" class="input" placeholder="비밀번호 입력" id="password" name="password" />
            </div>
			
			<!-- 로그인 실패 메시지를 표시할 div 태그 -->
        	<div id="error-message" style="color: red; display: none;"></div>
            
            <!-- 로그인 버튼 -->
            <button class="button-submit" type="submit">로그인</button>
 			
         
            <!-- CSRF 보호 -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // 세션 만료 체크
            if (window.location.search.includes('session=expired')) {
                alert('세션이 만료되었습니다. 다시 로그인 해주세요.');
            }

            // 로그인 실패 체크
            if (window.location.search.includes('error')) {
            	document.getElementById('error-message').textContent = '로그인 실패 : 잘못된 ID 또는 PW입니다.';
                document.getElementById('error-message').style.display = 'block';
            }
        });
    </script>
</body>
</html>
